.home-logo {
  background-image: url(~@assetsDir/images/home.png);
  background-position: 0 0;
  background-size: 568px;
}
.showpic-logo {
  background-image: url(~@assetsDir/images/logo.png);
  background-position: 0 0;
  background-size: 200px;
}
.share-logo {
  width: 50px;
  height: 50px;
  background-image: url(~@assetsDir/images/share-logo.png);
  background-position: 0 0;
  background-size: 50px;
}
